input[type=button] {
    -moz-box-shadow: 2px 3px 0px 0px #899599;
    -webkit-box-shadow: 2px 3px 0px 0px #899599;
    box-shadow: 2px 3px 0px 0px #899599;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
    background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color:#ededed;
    -moz-border-radius:42px;
    -webkit-border-radius:42px;
    border-radius:42px;
    border:1px solid #d6bcd6;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    padding:2px 10px;
    text-decoration:none;
    text-shadow:0px 0px 0px #e1e2ed;
}

select {
    width: 100px;
}

td[class=configuration] {
    color: blue;
}

td[class=configurationbold] {
    color: blue;
    font-weight: bold;
}

td[class=success] {
    color: green;
}

td[class=successbold] {
    color: green;
    font-weight: bold;
}

td[class=failure] {
    color: red;
}

td[class=failurebold] {
    color: red;
    font-weight: bold;
}

td[class=waiting] {
    color: darkgray;
}

td[class=waitingbold] {
    color: darkgray;
    font-weight: bold;
}

.hide {
    display: none;
}

.show {
    display: inline;
}

/* https://www.w3schools.com/css/css_tooltip.asp */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: darkgray;
    text-align: left;
    padding: 5px 5px;
    border-radius: 10px;
    position: absolute;
    right: -250px;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}